.ql-container {
    font-size: 12px;
}
.ql-snow .ql-picker.ql-size .ql-picker-label::before, .ql-snow .ql-picker.ql-size .ql-picker-item::before{
  content: '12';
}
/* .ql-picker.ql-size .ql-picker-label::before,
.ql-picker.ql-size .ql-picker-item::before {
  content: '12';
} */
.ql-picker.ql-size .ql-picker-label[data-value='10px']::before,
.ql-picker.ql-size .ql-picker-item[data-value='10px']::before {
  content: '10';
}
.ql-picker.ql-size .ql-picker-label[data-value='12px']::before,
.ql-picker.ql-size .ql-picker-item[data-value='12px']::before {
  content: '12';
}
.ql-picker.ql-size .ql-picker-label[data-value='14px']::before,
.ql-picker.ql-size .ql-picker-item[data-value='14px']::before {
  content: '14';
}
.ql-picker.ql-size .ql-picker-label[data-value='16px']::before,
.ql-picker.ql-size .ql-picker-item[data-value='16px']::before {
  content: '16';
}
.ql-picker.ql-size .ql-picker-label[data-value='20px']::before,
.ql-picker.ql-size .ql-picker-item[data-value='20px']::before {
  content: '20';
}
.ql-picker.ql-size .ql-picker-label[data-value='24px']::before,
.ql-picker.ql-size .ql-picker-item[data-value='24px']::before {
  content: '24';
}
.ql-picker.ql-size .ql-picker-label[data-value='32px']::before,
.ql-picker.ql-size .ql-picker-item[data-value='32px']::before {
  content: '32';
}
.ql-picker.ql-size .ql-picker-label[data-value='36px']::before,
.ql-picker.ql-size .ql-picker-item[data-value='36px']::before {
  content: '36';
}


.ql-picker.ql-size .ql-picker-item::before {
  font-size: 12px;
}
.ql-picker.ql-size .ql-picker-item[data-value='10px']::before {
  font-size: 10px;
}
/* .ql-picker.ql-size .ql-picker-item[data-value='12px']::before {
  font-size: 12px;
} */
.ql-picker.ql-size .ql-picker-item[data-value='14px']::before {
  font-size: 14px;
}
.ql-picker.ql-size .ql-picker-item[data-value='16px']::before {
  font-size: 16px;
}
.ql-picker.ql-size .ql-picker-item[data-value='20px']::before {
  font-size: 20px;
}
.ql-picker.ql-size .ql-picker-item[data-value='24px']::before {
  font-size: 24px;
}
.ql-picker.ql-size .ql-picker-item[data-value='32px']::before {
  font-size: 32px;
}
.ql-picker.ql-size .ql-picker-item[data-value='36px']::before {
  font-size: 36px;
}